.container-question {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content-question {
    width: 70%;
}

.style-answer {
    padding: 0;
}

.style-answer li {
    transition: border 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    list-style: none;
    padding: 20px;
    margin: 20px 0;
    background-color: #2b2b2b; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 3px 8px;
    cursor: pointer;
    border-radius: 5px;
}

/* Hover effect */
.style-answer li:hover {
    background-color: #3b3b3b; /* Color más claro para efecto hover */
    box-shadow: rgba(255, 255, 255, 0.2) 0px 6px 12px;
    transform: scale(1.05);
}

/* Estado cuando se selecciona la respuesta */
.style-answer li.correct {
    border: 2px solid #00b894; /* Verde llamativo */
    box-shadow: #00b894 0px 6px 12px;
    background-color: rgba(0, 184, 148, 0.2);
}

.style-answer li.incorrect {
    border: 2px solid #d63031; /* Rojo vibrante */
    box-shadow: #d63031 0px 6px 12px;
    background-color: rgba(214, 48, 49, 0.2);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .content-question {
        width: 90%;
    }
}
